:root {
    --logo-color: #4d5ae5;
    --logo-color-2: #2e2f42;
    --color-3: #404bbf;
    --color-4: #434455;
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header {
    text-decoration: none;
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
}

.header-container-nav {
    display: flex;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--logo-color);
        text-decoration: none;
        margin-right: 76px;
}

.header-logo-span {
    color:var(--logo-color-2); 
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--logo-color-2);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var(--color-3);
}

.header-list li{
    position: relative;
}

.header-link.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--color-3);
    border-radius: 2px;
    position: absolute;
    transform: translateY(21px);
}

.header-adress {
        font-style: normal;
        margin-left: auto;
}

.header-adress-list {
    display: flex;
    gap: 40px;
}

.header-adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-4);
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
    color: var(--color-3);
}

/* hero */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        width: 496px;
        margin: 0 auto 48px;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 16px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}

/* goals */

.goals {
    padding: 120px 0 120px;
}

.goals .box {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}


.goals-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.goals-list {
    display: flex;
    gap: 24px;
}

.goals-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.goals-list .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* activities */

.activities {
    padding-bottom: 120px;
}

.activities-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}

.activities-list {
    display: flex;
    gap: 24px;
}

/* team */

.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list > li {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}


.team-text {
    font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
}

.team-div {
    padding: 32px 0;
}

.team-logo-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item {
    width: 40px;
    height: 40px;
    fill: #F4F4FD;
}

.team-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover, .team-link:focus {
    background-color: #404BBF;
}

.team-icon {
    fill:#F4F4FD;
}

/* customers */

.customers {
    padding: 120px 0;
}

.customers-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--logo-color-2);
        margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}


.customers-link {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
}

.customers-icon {
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    color: #404BBF;
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid #404BBF;
}

/* footer */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--logo-color);
        margin-bottom: 17.5px;
}

.footer-logo-span {
        color: #F4F4FD;
        text-decoration: none;
}

.footer-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
        width: 264px;
}

.footer-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.footer-logo-list {
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #F4F4FD;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.footer-content {
    margin-right: 120px;
}

.footer-media {
    margin-right: 80px;
}

.subscribe-input {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.subscribe-button {
    display: flex;
    color: #FFFFFF;
    fill: #FFFFFF;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    border-radius: 4px;
    border: 0;
}

.footer-subscribe {
    display: flex;
    gap: 24px;
}

/* portfolio */

.portfolio {
    padding: 96px 0 120px;
}

.portfolio-hidden {
    visibility: hidden;
}

.portfolio-btn {
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    min-width: 10px;
    height: 48px;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: #FFFFFF;       
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: transparent;
    }

.portfolio-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--logo-color-2);
        margin-bottom: 8px;
    }

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-4);
    }

.cover-item {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--logo-color);
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
}

.portfolio-link:hover .portfolio-cover-text,
.portfolio-link:focus .portfolio-cover-text{
transform: translateY(0);
}

.border {
    border: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    }

    .border-list {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .border-list:hover,
    .border-list:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 200ms linear, visibility 200ms linear;
    }

    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0);
    }

    .modal {
        width: 408px;
        min-height: 576px;
        background-color: rgba(252, 252, 252, 1);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px 24px;
        transition: transform 200ms linear;
    }

    .modal-form {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .modal-button {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-left: auto;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--logo-color-2);
        margin-top: 24px;
    }

    .modal-labels {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
    }

    .modal-inputs {
        display: block;
        width: 360px;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-inputs:focus {
        border: 1px solid rgba(77, 90, 229, 1);
        outline: none;
    }

    .modal-form-areas {
        margin-bottom: 8px;
    }

    .modal-textarea {
        display: block;
        width: 360px;
        height: 120px;
        resize: none;
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding: 8px 16px;
        margin-bottom: 16px;
    }

    .modal-textarea:focus {
        border: 1px solid rgba(77, 90, 229, 1);
        outline: none;
    }

    .modal-accept {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
    }

    .modal-accept span {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }

    .modal-input-accept:checked + .modal-accept span {
        background-color: rgba(64, 75, 191, 1);
        border: none;
        fill: rgba(244, 244, 253, 1);
    }

    .modal-input-accept:focus + .modal-accept span {
        border-color: rgba(64, 75, 191, 1);
    }

    .modal-images {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-inputs:focus + .modal-images {
        fill: rgba(64, 75, 191, 1);
    }

    .input-wrap {
        display: flex;
        position: relative;
        margin-top: 4px;
    }

    /* .modal-accept::before {
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: block;
    }

    .modal-input-accept:checked + .modal-accept::before {
        background-color: rgba(64, 75, 191, 1);
        border: none;
    } */

    .modal-submit-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        width: 169px;
        height: 56px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }